btsound/.settings
btsound/app
btsound/hardware
btsound/platform
btsound/protocol
btsound/GNU ARM v7.2.1 - Default
btsound/.cproject
btsound/.project
BRD4184A_EFR32BG22_pdm_stereo_ldma/
.ipynb_checkpoints/
lightsabers/.settings
lightsabers/app
lightsabers/hardware
lightsabers/platform
lightsabers/protocol
lightsabers/GNU ARM v7.2.1 - debug
lightsabers/.cproject
lightsabers/.project
